.reveal-viewport {
    background: #fff;
}
.reveal {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: #333;
}
.slide-background.slide-title {
    background: rgb(51,209,173);
    background: linear-gradient(140deg, rgba(51,209,173,1) 0%, rgba(13,115,178,1) 73%);
}
