.d-flex {
  display: flex;
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
#governance > p {
  margin: 0;
  padding: 10px;
  background: #fff;
  border: 3px #666 solid;
}
#governance > .d-flex > div > p {
  font-size: 0.5em;
  margin: 10px 0;
  font-family: monospace;
}
#governance img {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
}
#governance div + div {
  margin-left: 0.5em;
}
#governance > p + .d-flex > .fragment {
  line-height: 0.7;
  flex-grow: 1;
  color: #666;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.d-flex.half-columns > div {
  width: 50%;
}
.small {
  font-size: 0.7em;
}
.smallest {
  font-size: 0.5em;
}
